
.carousel
{
	position :relative ;
	margin :0 auto;
	height :auto;
	overflow : visible ;	
}

/* slide container */
.carousel .slides
{
	margin :0;
	padding :0;
	border :none;
	list-style :none;
	position :relative ;
	overflow :visible ;
}
/* slide item */
.carousel .slides .slideItem 
{
	position :absolute ;
	cursor :pointer ;
	overflow : hidden;
	padding :0;
	margin :0;
	border :none;
	box-shadow: 0 10px 50px -5px#a9a9aa;
}


.carousel .slides .slideItem img
{
	margin :0;
	padding :0;
	border :none;
	width :100%;
	height :100%;
}


.carousel .nextButton, .carousel .prevButton
{
	position :absolute ;
	width: 40px;
	height: 40px;
	border: 1px solid #f0f0f0;
	border-radius: 50%;
	text-align: center;
	
	top: calc(50% - 43px);
	padding-top: 3px;
	cursor :pointer ;
	z-index :9999;
}
.carousel .nextButton {
	right: -6.5%;
}
.carousel .prevButton {
	left: -6.5%;
}
.carousel .nextButton:hover, .carousel .prevButton:hover {
	border-color: #dee1e2;
	box-shadow: 0 0 0 3px #dee1e2;
	  background: linear-gradient(to right, #fd712c, #f31e7a);
	 
}

.carousel .prevButton::before {
	content: "\f30a";
	font-family: FontAwesome;
	font-size: 17px;
	color: #777;
	
}
.carousel .nextButton::before {
	content: "\f30b";
	font-family: FontAwesome;
	color: #777;
	font-size: 17px;
	
}
.carousel .prevButton:hover::before, .carousel .nextButton:hover::before {
	color: white;
}


