body {
font-family: 'Dosis', sans-serif;

background: #ffffff;
color: #222222;
/*font-family: 'Roboto', sans-serif;*/
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img {
width: 100%;
}

/* start header styles */
.head {

 background: linear-gradient(to right,#fd712c, #f31e7a);
 color: #ffffff;
}
.fa-check-circle {
 color: #ffffff; 
}
.menu__item a {
    color:  #ffffff; 

}
/* end header styles */

/* start features styles */
.features {
    border-bottom: 1px solid #eeeeee;
}
.icon {
    color: #f31f79;
    border: 1px solid #eeeeee;
    border-radius: 50%;
}
/* end features styles */

/* start dn-leave styles*/
/* end dn-leave styles*/

/* start screen-shots styles*/
.screen-shots {
background: #f7fafc top;
}
/* end screen-shots styles*/

/* start pricing styles*/
.pricing {

}
/* end pricing styles*/

/* start video styles*/
/* end video styles*/

/* start reviews styles*/
/* end reviews styles*/

/* start download styles*/
/* end download styles*/

/* start footer styles*/
/* end footer styles*/
.BG--color {
    
}