html {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  background: #ffffff;
  color: #222222;
}
.container  {
  padding: 0;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
img {
  
  display: block;
}

a:hover {
    text-decoration: none;
}
.button {
  background-color: #ffffff;
  padding: 5px 30px;
  font-weight: 500;
  height: 40px;
  border: 0;
  border-radius: 20px;
}
/* start header styles */
.header {
  background: linear-gradient(to right, #fd712c, #f31e7a);
  background-size: 100%;
  color: #ffffff;
 padding: 30px 0;
}

.logo__pic {
  width: 50px;
  height: 40px;
}
.logo__title {
  display: inline-block;
  padding-top: 5px;
  font-weight: 700;
}
.menu {
  
}
.menu__item {
  margin: -5px;
  border: 1px solid black;
  text-align: end;
}
.menu__item a {
  color: #ffffff;

}
.download-btn {
  width: 155px;
}
.button:hover {
    box-shadow: 0 0 0 5px #e25e2e;
}
.title {
    max-width: 495px;
}
.title h1 {
    font-size: 3.8em;
    margin-bottom: 25px;
}
.title__benefits {
    margin-bottom: 40px;
}
.title__benefits li {
  margin-bottom: 10px;
  font-weight: 500;
}
.title__benefits li i{
margin-right: 20px;
}
.explording-btn {
    width: 195px;
}
/* end header styles */

/* start features styles */
.features {
  border-bottom: 1px solid #eeeeee;
  padding: 120px 0 60px;
}
.offer {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 60px 0;
}
.offer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    color: #f31f79;
    border: 1px solid #eeeeee;
    border-radius: 50%;
}
.offer__icon .fas  {
  padding-left: 20px;
}
.offer__titie {
  width: 80%; 
  padding: 0 0 0 22px;
}
.offer__titie h4 {
  display: inline-block;
  margin-top: -10px;
}
/* end features styles */

/* start dn-leave styles*/
.dleave-reasons {
  margin: 175px 0 175px 0;
}
.dleave-title h2 {
 margin-bottom: 35px;
}
.reasons__item i {
  color: #000;
}
.dleave-content {
  margin-top: 82px;
}
.reasons {
  margin-top: 40px;
}
.reasons__item {
  margin-top: 5px;
  font-weight: 500;
}
.fas {
  margin-right: 20px;
}
/* end dn-leave styles*/

/* start screen-shots styles*/
.scrshot-title{
  margin: 120px auto 82px auto;
  max-width: 670px;
}
.scrshot-title h2 {
  margin-bottom: 35px;
}
.screen-shots {
  background: #f7fafc;
}
/* end screen-shots styles*/

/* start pricing styles*/

.container  {
  padding: 0;
}
.pricing {
padding: 120px 0;
}
.price-title {
  margin: 0 auto 82px;
  max-width: 670px;
}

.tariff {
  
  border: 1px solid grey;
  text-align: center;
  background: #f7fafc;
}
.tariff__title {
  padding-top: 10px;
}
.tariff__price {
  border: 1px solid red;
  
  /*background: #fff;*/
  /*background: linear-gradient(to right, #fd712c, #f31e7a);*/
  }
  .tariff__price--upper{
    padding-top: ; 
  } 
  .tariff__price--buttom {
    
border: 1px solid grey;
  }
/*.tariff__price::after {
  content: " ";
  width: 100%;
  position: absolute;
  padding-top: 10%;
  top: 100%;
  left: 0;
  background: linear-gradient(to right top, transparent 50%, #fd712c 40%,#f9514a 10%) left / 50% 100% no-repeat, linear-gradient(to left top, transparent 50%, #f31e7a 50%, #f9514a 40%) right / 50% 100% no-repeat;
}*/
.tariff__price sup, .tariff__price sub {
  font-size: 10px;
}
.tariff__benefits {
margin-top: 40px;
}
.tariff__benefits li {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
border-bottom: 1px dashed #eeeeee;  
}
.tariff__benefits li:last-child {
  border-bottom: none;
}
.tariff__trial {
 color: #b0b0b0;
}
.buy-btn {
  border: 2px solid #eeeeee;
  width: 140px;
  margin-bottom: 40px;
}
.buy-btn:hover {
  box-shadow: none;
}
/* end pricing styles*/

/* start video styles*/

/* end video styles*/

/* start reviews styles*/
.reviews {
  padding: 120px 0;
}
.review-title {
margin: 0 auto 82px;
max-width: 670px;
}
.left-arrow {
  width: 40px;
  height: 40px;
  color: #777777;
  border: 1px solid #eee;
  border-radius: 50%;
}
.review-item {
 
  background: #f7fafc;
  padding: 40px;
  cursor: pointer;
}
.review-item:hover {
  box-shadow: 0 10px 50px 25px #ececec;
  background: #fff;
}
.review-item__autor-img {
 margin: 0 15px;
}
.review-item__autor-sign {
 padding-top: 15px;
}
.review-item__autor-sign h6 {
  font-size: 1.1rem;
  margin-bottom: 0;
  
}
/* end reviews styles*/


/* start download styles*/
.download {
  background: linear-gradient(to right, #fd712c, #f31e7a);
  padding: 120px 0;
}

.download-title {
  color: #ffffff;
  margin: 0 auto 82px;
 }
.download-link {
  background: #ffffff;
  border-radius: 2px;
  color: #222;
  overflow: hidden;
}
.download-link__icon {
  width: 115px;
  height: 115px;
  background: #f7fafc;
  color: #777;
  
  padding: 25px 0 0 45px;
}
.download-link__title {
  
}
.download-link__title p {
  color: #777777;
}

/* end download styles*/

/* start footer styles*/
.footer {
  background-color: #000;
  color: #ffffff;
}
.social-icons__item p {
  color: #ffffff;
}

.copyright {
  
}

/* end footer styles*/
.BG--color {
}
